.check-holder {
    margin-top: 64px;

    >header {
        display       : flex;
        flex-direction: column;
        text-align    : center;

        >h1 {
            font-size  : 2rem;
            font-weight: 700;
        }

        >h2 {
            font-size  : 0.725rem;
            padding-top: 8px;
            color      : #e0d8c8;
            font-weight: 300;
        }
    }

    >article {
        display       : flex;
        flex-direction: column;
        text-align    : center;
        align-items   : center;
        margin-top    : 16px;

        >img {
            max-width       : 30%;
            animation       : rotate_image 60s linear infinite;
            transform-origin: 50% 50%;
            margin          : 2rem;

            @media @phone {
                max-width: 50%;
            }
        }

        @keyframes rotate_image {
            100% {
                transform: rotate(360deg);
            }
        }

        >a {
            width           : 50%;
            cursor          : pointer;
            padding         : 8px 12px 9px;
            font-weight     : 700;
            border-radius   : 4px;
            margin-bottom   : 32px;
            margin-right    : 8px;
            text-decoration : none;
            color           : white;
            background-color: rgba(224, 216, 200, 0.8);

            &:hover {
                background-color: rgba(224, 216, 200, 0.9);
                color           : white;
            }

            &:active {
                background-color: #e0d8c8;
                color           : white;
            }
        }
    }
}