.hourglass-view {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    text-align      : center;
    margin-top      : 64px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius   : 1rem;
    padding         : 32px;

    @media @phone {
        margin: 64px 8px;
    }

    >header {
        >h1 {
            font-size  : 2rem;
            font-weight: 700;
        }

        >h2 {
            font-size  : 0.725rem;
            padding-top: 8px;
            color      : #e0d8c8;
            font-weight: 300;
        }
    }

    >section {
        >.content {
            display              : grid;
            grid-template-columns: 33.33% 33.33% 33.33%;

            @media @phone {
                grid-template-columns: 100%;
            }

            >article {
                margin-top: 64px;

                >header {
                    font-size  : 1rem;
                    color      : #e0d8c8;
                    font-weight: 300;
                }

                >p {
                    font-size  : 1.75rem;
                    font-weight: 700;
                    margin-top : 8px;
                }
            }
        }

        >hr {
            border          : none;
            height          : 1px;
            color           : #2C2C2C;
            background-color: #2C2C2C;
            margin          : 30px 0px;
        }

        >.input-container {
            display              : grid;
            grid-template-columns: 50% 50%;

            @media @phone {
                grid-template-columns: 100%;
            }

            >.input-wrap {
                margin-top    : 16px;
                display       : flex;
                position      : relative;
                flex-direction: column;
                align-items   : center;
                position      : relative;
                margin-bottom : 10px;

                >label {
                    font-size    : 0.825rem;
                    font-weight  : 300;
                    color        : #e0d8c8;
                    margin-bottom: 8px;
                }

                >input {
                    padding         : 8px;
                    border-radius   : 4px;
                    width           : 50%;
                    border          : 0.1px solid white;
                    background-color: transparent;
                    color           : white;
                    font-size       : 1rem;

                    @media @phone {
                        width: 100%;
                    }
                }

                >button {
                    background-color: transparent;
                    color           : rgba(177, 156, 118, 0.8);
                    border-radius   : 4px;
                    padding         : 8px;
                    position        : absolute;
                    top             : 24px;
                    right           : 25.5%;

                    @media @phone {
                        right: 8px;
                    }

                    &:hover {
                        background-color: rgba(177, 156, 118, 0.9);
                        color           : white;
                    }

                    &:active {
                        background-color: rgba(177, 156, 118, 1);
                        color           : white;
                    }
                }
            }
        }


        >.input-wrap {
            margin-top    : 60px;
            display       : flex;
            flex-direction: column;
            align-items   : center;

            >.slider {
                margin-bottom     : 16px;
                width             : 70%;
                -webkit-appearance: none;
                appearance        : none;
                height            : 5px !important;
                border-radius     : 4px;
                background-color  : white;
                outline           : none;
                margin-bottom     : 14px;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance        : none;
                    width             : 15px;
                    height            : 15px;
                    border-radius     : 50%;
                    background        : black;
                    cursor            : pointer;
                    border            : 1px solid #f4f4f4;
                }

                &::-moz-range-thumb {
                    width           : 15px;
                    height          : 15px;
                    border-radius   : 50%;
                    background-color: #e0d8c8;
                    cursor          : pointer;
                    border          : 1px solid #f4f4f4;
                }
            }

            >.text-wrap {
                display: flex;

                >label {
                    font-size   : 1.25rem;
                    font-weight : 700;
                    color       : white;
                    margin-right: 4px;
                }
            }
        }

        >button {
            width           : 50%;
            margin-top      : 30px;
            cursor          : pointer;
            padding         : 8px 12px 9px;
            font-weight     : 700;
            border-radius   : 4px;
            margin-bottom   : 32px;
            margin-left     : 8px;
            color           : white;
            background-color: rgba(177, 156, 118, 0.8);

            &:hover {
                background-color: rgba(177, 156, 118, 0.9);
            }

            &:active {
                background-color: rgba(177, 156, 118, 1);
            }
        }

        >.reward-container {
            display       : flex;
            flex-direction: column;
            text-align    : center;
            align-items   : center;
            margin-top    : 30px;

            >.content-wrap {
                display        : flex;
                justify-content: space-between;
                text-align     : center;
                align-items    : center;
                width          : 50%;
                margin-top     : 8px;

                @media @phone {
                    width: 100%;
                }

                >.title {
                    font-size  : 1rem;
                    color      : #e0d8c8;
                    font-weight: 300;
                }

                >p {
                    font-weight: 700;
                    margin-top : 8px;
                }
            }
        }
    }

    >.goods-container {
        >.swiper {
            width: 50%;

            @media @phone {
                width: 100%;
            }

            >.swiper-wrapper {
                >.swiper-slide {
                    display        : flex;
                    justify-content: center;

                    >img {
                        height: 72px;
                    }

                    >.text-warp {
                        display        : flex;
                        flex-direction : column;
                        justify-content: center;
                        text-align     : left;
                        padding-left   : 16px;

                        >header {
                            margin-top : 4px;
                            font-size  : 1rem;
                            font-weight: 700;
                        }

                        >p {
                            margin-top : 4px;
                            color      : #e0d8c8;
                            font-size  : 0.75rem;
                            font-weight: 300;
                        }
                    }
                }
            }

            >.swiper-button-next {
                color              : white;
                background-image   : url(/images/shared/icn/icn_arrow_forward.svg);
                background-repeat  : no-repeat;
                background-size    : 100% auto;
                background-position: center;

                &::after {
                    display: none;
                }
            }

            >.swiper-button-prev {
                color              : white;
                background-image   : url(/images/shared/icn/icn_arrow_back.svg);
                background-repeat  : no-repeat;
                background-size    : 100% auto;
                background-position: center;


                &::after {
                    display: none;
                }
            }
        }
    }
}