.mining-view {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    text-align      : center;
    margin-top      : 64px;
    margin-top      : 32px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius   : 1rem;
    padding         : 32px;

    @media @phone {
        margin: 64px 8px;
    }

    >header {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        margin-bottom  : 32px;

        >.title-container {
            >h1 {
                font-size  : 2rem;
                font-weight: 700;
            }

            >h2 {
                font-size  : 0.725rem;
                padding-top: 8px;
                color      : #e0d8c8;
                font-weight: 300;
            }
        }

        >.input-container {
            display        : flex;
            justify-content: flex-end;
            max-height     : 32px;
            margin         : 8px 0px;

            >input {
                padding         : 8px;
                border-radius   : 4px;
                width           : 60%;
                height          : 100%;
                border          : 0.1px solid white;
                background-color: transparent;
                color           : white;
            }

            >button {
                cursor       : pointer;
                display      : flex;
                align-items  : center;
                padding      : 8px 12px 9px;
                margin-left  : 4px;
                font-weight  : 700;
                font-size    : 0.725rem;
                border-radius: 4px;
                margin-right : 8px;

                &:hover {
                    background-color: rgba(224, 216, 200, 0.9);
                    color           : white;
                }

                &:active {
                    background-color: #e0d8c8;
                    color           : white;
                }
            }
        }
    }

    >article {
        >.tool-box {
            display        : flex;
            justify-content: space-between;

            @media @phone {
                flex-direction: column;
            }

            >.title-container {
                text-align   : left;
                margin-bottom: 16px;

                >header {
                    font-size     : 1.5rem;
                    font-weight   : 500;
                    padding-bottom: 4px;
                }

                >p {
                    font-size  : 0.725rem;
                    padding-top: 4px;
                    color      : #e0d8c8;
                    font-weight: 300;
                }
            }

            >.button-container {
                @media @phone {
                    display: flex;
                }

                >.all-mining-button {
                    cursor       : pointer;
                    padding      : 8px 12px 9px;
                    font-weight  : 700;
                    border-radius: 4px;
                    margin-bottom: 32px;
                    margin-right : 8px;

                    &:hover {
                        background-color: rgba(224, 216, 200, 0.9);
                        color           : white;
                    }

                    &:active {
                        background-color: #e0d8c8;
                        color           : white;
                    }
                }
            }
        }

        >.nft-container {
            display              : grid;
            grid-template-columns: repeat(4, 1fr);
            gap                  : 16px;
            min-width            : 0;
            min-width            : 0;

            @media @phone {
                grid-template-columns: 100%;
            }
        }
    }
}