/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
  @import url("https://p.typekit.net/p.css?s=1&k=zoc8uhz&ht=tk&f=15665.15666&a=43843172&app=typekit&e=css");
}
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  background: linear-gradient(#111112, #2a292a) fixed;
  margin: auto;
  color: white;
}
.dialogue.alert {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dialogue.alert > h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 16px;
}
.dialogue.alert > p {
  padding: 0px 16px 8px 16px;
  font-size: 0.875rem;
  line-height: 1.2em;
}
.dialogue.alert > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.alert > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 0.75rem;
  border-radius: 4px;
}
.dialogue.alert > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.alert > .button-container > button:active {
  background-color: #b19c76;
}
.dialogue.confirm {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dialogue.confirm > h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 16px;
}
.dialogue.confirm > p {
  padding: 0px 16px 8px 16px;
  font-size: 0.875rem;
  line-height: 1.2em;
}
.dialogue.confirm > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.confirm > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 0.75rem;
  border-radius: 4px;
}
.dialogue.confirm > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.confirm > .button-container > button:active {
  background-color: #b19c76;
}
.dialogue.prompt {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dialogue.prompt > h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 16px;
}
.dialogue.prompt > p {
  padding: 0px 16px 8px 16px;
  font-size: 0.875rem;
  line-height: 1.2em;
}
.dialogue.prompt > .input-container {
  margin-top: 8px;
  padding: 0 16px;
}
.dialogue.prompt > .input-container > input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  height: 36px;
  border: 1px solid #e4e8eb;
  background-color: transparent;
  color: white;
}
.dialogue.prompt > .input-container > input:hover {
  border: 1px solid #b19c76;
}
.dialogue.prompt > .input-container > input:focus {
  border: 1px solid #b19c76;
}
.dialogue.prompt > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.prompt > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 0.75rem;
  border-radius: 4px;
}
.dialogue.prompt > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.prompt > .button-container > button:active {
  background-color: #b19c76;
}
.connect-wallet-popup {
  position: relative;
  max-width: 420px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.connect-wallet-popup > h2 {
  font-size: 24px;
  padding: 16px;
}
.connect-wallet-popup > p {
  padding: 16px;
  border-top: 1px solid #CCC;
  color: #CCC;
}
.connect-wallet-popup > .button-container {
  padding: 16px;
}
.connect-wallet-popup > .button-container > a {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
}
.connect-wallet-popup > .button-container > a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: white;
}
.connect-wallet-popup > .button-container > a > img {
  margin-right: 10px;
}
.connect-wallet-popup > .button-container > .connect-kaikas-button {
  background-color: #6f6558;
  color: #ffffff;
}
.connect-wallet-popup > .button-container > .connect-klip-button {
  background-color: #fee500;
  color: #000000;
}
.connect-wallet-popup > .button-container > .cancel-button {
  border: 1px solid #ffffff;
}
.klip-qr-popup {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.klip-qr-popup > h2 {
  font-size: 24px;
  padding: 16px;
}
.klip-qr-popup > .qr {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 16px 0;
  text-align: center;
}
.klip-qr-popup > p {
  margin-top: 16px;
  padding: 0 16px;
  color: white;
}
.klip-qr-popup > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.klip-qr-popup > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.klip-qr-popup > .button-container > button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.user-menu > .connect-wallet,
.user-menu > .wallet-address {
  display: block;
  width: 100%;
  text-align: center;
  color: linear-gradient(#111112, #2a292a) fixed;
  background-color: #b19c76;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
}
.user-menu > .connect-wallet,
.user-menu > .wallet-address:hover {
  background-color: #b19c76;
  color: white;
}
.user-menu > .wallet-address {
  position: relative;
  cursor: pointer;
}
.user-menu > .wallet-address > ul {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100px;
  display: none;
  background-color: #222;
  padding: 10px 0;
}
.user-menu > .wallet-address > ul > li > a {
  display: block;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.user-menu > .wallet-address > ul > li > a:hover {
  color: #b19c76;
}
.user-menu > .wallet-address > ul > li > a:active {
  color: #b19c76;
}
.user-menu > .wallet-address:hover > ul {
  display: block;
}
.user-menu > ul {
  margin-top: 10px;
  margin-left: 10px;
}
.user-menu > ul > li > a {
  display: block;
  padding: 8px 5px;
  color: #ccc;
}
.user-menu > ul > li > a:hover {
  color: #b19c76;
}
.user-menu > ul > li > a:active {
  color: #b19c76;
}
.pc-menu > ul {
  display: flex;
}
.pc-menu > ul > li {
  display: flex;
  float: left;
  font-weight: 600;
}
.pc-menu > ul > li > a {
  cursor: pointer;
  padding: 8px 12px 8px 12px;
  font-size: 0.875rem;
  text-decoration: none;
  color: white;
}
.pc-menu > ul > li > a:hover {
  background-color: rgba(177, 156, 118, 0.5);
  border-radius: 4px;
}
.pc-menu > ul > li > a:active {
  background-color: rgba(177, 156, 118, 0.7);
  border-radius: 4px;
}
.pc-menu > ul > li > ul {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100px;
  display: none;
  background-color: #222;
  padding: 10px 0;
}
.pc-menu > ul > li > ul > li > a {
  display: block;
  text-align: center;
  padding: 10px;
}
.pc-menu > ul > li > ul > li > a:hover {
  color: #b19c76;
}
.pc-menu > ul > li > ul > li > a:active {
  color: #b19c76;
}
.pc-menu > ul > li:hover > ul {
  display: block;
}
.mobile-menu {
  position: fixed;
  width: 100%;
  background-color: black;
  padding: 10px;
}
.mobile-menu > ul > li > a {
  display: block;
  padding: 12px 5px;
  font-size: 0.825rem;
}
.mobile-menu > ul > li > a:hover {
  color: #b19c76;
}
.mobile-menu > ul > li > a:active {
  color: #b19c76;
}
.mobile-menu > ul > li > ul {
  margin-left: 10px;
}
.mobile-menu > ul > li > ul > li > a {
  display: block;
  padding: 8px 5px;
  color: #ccc;
}
.mobile-menu > ul > li > ul > li > a:hover {
  color: #b19c76;
}
.mobile-menu > ul > li > ul > li > a:active {
  color: #b19c76;
}
.mobile-menu > ul > li > ul > li.parent {
  display: none;
}
.mobile-menu > .user-menu {
  margin: auto;
  margin-top: 16px;
}
.user-info {
  display: flex;
  justify-content: center;
  min-height: 30px;
}
@media only screen and (max-width: 719px) {
  .user-info {
    display: none;
    width: 100%;
    min-height: 34px;
    align-items: center;
    padding: 16px 20px;
  }
  .user-info:hover {
    background-color: rgba(177, 156, 118, 0.9);
  }
  .user-info:active {
    background-color: #b19c76;
  }
}
.user-info > .connect-wallet,
.user-info > .wallet-address {
  color: #b19c76;
  padding: 8px 12px 8px 12px;
  font-size: 0.875rem;
  text-decoration: none;
  color: white;
  background-color: rgba(177, 156, 118, 0.8);
  border-radius: 4px;
}
.user-info > .connect-wallet:hover,
.user-info > .wallet-address:hover {
  background-color: rgba(177, 156, 118, 0.9);
}
.user-info > .connect-wallet:active,
.user-info > .wallet-address:active {
  background-color: #b19c76;
}
@media only screen and (max-width: 719px) {
  .user-info > .connect-wallet,
  .user-info > .wallet-address {
    color: #e0d8c8;
    width: 100%;
    padding: 0px;
    background-color: transparent;
  }
  .user-info > .connect-wallet:hover,
  .user-info > .wallet-address:hover {
    background-color: transparent;
  }
  .user-info > .connect-wallet:active,
  .user-info > .wallet-address:active {
    background-color: transparent;
  }
}
.mining-item {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 16px;
}
.mining-item > img {
  border-radius: 4px;
  width: 100%;
  height: auto;
}
.mining-item > h3 {
  font-size: 1.25rem;
  font-weight: 500;
  position: absolute;
  left: 2%;
  top: 2%;
  color: white;
  text-shadow: 1px 1px 1px #656565;
}
.mining-item > a > .send {
  font-size: 1.25rem;
  font-weight: 500;
  height: 24px;
  position: absolute;
  right: 2%;
  top: 2%;
  color: white;
  text-shadow: 1px 1px 1px #656565;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.mining-item > a > .send:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.mining-item > a > .send:active {
  background-color: #b19c76;
}
.mining-item > .content-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.mining-item > .content-wrap > section > header {
  text-align: left;
  margin-left: 4px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #e0d8c8;
}
.mining-item > .content-wrap > section > .amount-wrap {
  text-align: left;
}
.mining-item > .content-wrap > section > .amount-wrap > .krno {
  font-size: 0.825rem;
  margin: 4px;
}
.mining-item > .content-wrap > section > .amount-wrap > .klay {
  margin-left: 4px;
  font-size: 0.75rem;
  font-weight: 300;
}
.mining-item > .content-wrap > .button-wrap {
  display: flex;
}
.mining-item > .content-wrap > .button-wrap > .krno-button {
  cursor: pointer;
  padding: 8px 12px 9px;
  font-weight: 700;
  font-size: 0.75rem;
  border-radius: 4px;
  background-color: white;
  color: black;
}
.mining-item > .content-wrap > .button-wrap > .krno-button:hover {
  background-color: rgba(224, 216, 200, 0.9);
  color: white;
}
.mining-item > .content-wrap > .button-wrap > .krno-button:active {
  background-color: #e0d8c8;
  color: white;
}
.mining-item > .content-wrap > .button-wrap > .klay-button {
  cursor: pointer;
  padding: 8px 12px 9px;
  font-weight: 700;
  font-size: 0.75rem;
  border-radius: 4px;
  border-color: #e0d8c8;
  border: solid 1px;
  color: #e0d8c8;
  background-color: transparent;
}
.mining-item > .content-wrap > .button-wrap > .klay-button:hover {
  background-color: rgba(224, 216, 200, 0.9);
  border-color: transparent;
  color: white;
}
.mining-item > .content-wrap > .button-wrap > .klay-button:active {
  background-color: #e0d8c8;
  border-color: transparent;
  color: white;
}
.buyback-item {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  margin-top: 16px;
  margin-bottom: 16px;
}
.buyback-item > img {
  border-radius: 4px;
  width: 100%;
  height: auto;
}
.buyback-item > h3 {
  font-size: 1.25rem;
  font-weight: 500;
  position: absolute;
  left: 2%;
  top: 2%;
  color: white;
  text-shadow: 1px 1px 1px #656565;
}
.buyback-item > p {
  padding: 8px;
}
.buyback-item > button {
  cursor: pointer;
  padding: 8px 12px 9px;
  font-weight: 700;
  border-radius: 4px;
  background-color: white;
  color: black;
}
.team-nft-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.team-nft-container > .content {
  border-radius: 1rem;
  padding: 32px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 719px) {
  .team-nft-container > .content {
    flex-direction: column;
  }
}
.team-nft-container > .content > .team-item {
  justify-items: center;
  text-align: center;
}
.team-nft-container > .content > .team-item > img {
  border-radius: 4px;
  max-width: 300px;
  width: 100%;
  margin: auto;
}
.team-nft-container > .content > .team-item > h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  padding-bottom: 16px;
}
.team-nft-container > .content > .team-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
}
.team-nft-container > .content > .team-info .content-wrap {
  margin-top: 54px;
}
.team-nft-container > .content > .team-info .content-wrap > h2 {
  font-size: 1rem;
  color: #e0d8c8;
  font-weight: 300;
}
.team-nft-container > .content > .team-info .content-wrap > p {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 8px;
}
.team-nft-container > .content > .team-info .content-wrap > .caption {
  font-size: 0.825rem;
  font-weight: 300;
  margin-top: 8px;
}
.dialogue.transfer-popup {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dialogue.transfer-popup > h2 {
  font-size: 21px;
  font-weight: 700;
  padding: 16px;
}
.dialogue.transfer-popup > p {
  padding: 0px 16px 8px 16px;
  font-size: 14px;
  line-height: 1.2em;
}
.dialogue.transfer-popup > .warning-container {
  display: flex;
  background-color: rgba(153, 0, 19, 0.7);
  padding: 8px;
  margin: 8px 16px;
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
}
.dialogue.transfer-popup > .warning-container > .warning {
  padding-left: 8px;
  border-radius: 4px;
}
.dialogue.transfer-popup > .input-container {
  margin-top: 16px;
  padding: 0 16px;
}
.dialogue.transfer-popup > .input-container > input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  height: 36px;
  border: 1px solid #e4e8eb;
  background-color: transparent;
  color: white;
}
.dialogue.transfer-popup > .input-container > input:hover {
  border: 1px solid #b19c76;
}
.dialogue.transfer-popup > .input-container > input:focus {
  border: 1px solid #b19c76;
}
.dialogue.transfer-popup > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.transfer-popup > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.dialogue.transfer-popup > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.transfer-popup > .button-container > button:active {
  background-color: #b19c76;
}
.layout {
  width: 100%;
}
.layout > header {
  display: flex;
  position: fixed;
  justify-items: center;
  width: 100%;
  background-color: black;
  max-height: 52px;
  left: 0;
  top: 0;
  z-index: 999;
}
@media only screen and (max-width: 719px) {
  .layout > header {
    height: auto;
  }
}
.layout > header > .nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  margin: auto;
  padding: 8px;
}
.layout > header > .nav > .logo {
  flex-grow: 1;
}
.layout > header > .nav > .logo > a > img {
  height: 36px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .pc-menu {
    display: none;
  }
}
.layout > header > .nav > .right {
  display: flex;
}
.layout > header > .nav > .right:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.layout > header > .nav > .right > .user-menu {
  float: right;
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .right > .user-menu {
    display: none;
  }
}
.layout > header > .nav > .right > .language-select {
  cursor: pointer;
  padding: 8px 8px 8px 8px;
  font-size: 0.875rem;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: none;
  margin-right: 8px;
}
.layout > header > .nav > .right > .language-select:hover {
  background-color: rgba(177, 156, 118, 0.5);
  border-radius: 4px;
}
.layout > header > .nav > .right > .language-select:active {
  background-color: rgba(177, 156, 118, 0.7);
  border-radius: 4px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .right > .language-select {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .layout > header > .nav > .right > .language-select:hover {
    background-color: #333332;
  }
}
.layout > header > .nav > .right > .mix-button {
  float: right;
  margin-top: 2px;
  margin-right: 16px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .right > .mix-button {
    margin-top: 6px;
    margin-right: 10px;
  }
}
.layout > header > .nav > .right > .menu-button {
  float: right;
  display: none;
  padding: 10px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .right > .menu-button {
    display: block;
  }
}
.layout > main {
  max-width: 1240px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 54px;
}
.layout > footer {
  margin-top: 12rem;
  color: white;
  background-color: black;
}
.layout > footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
}
.layout > footer .footer-container > .sns {
  margin-top: 32px;
  margin-bottom: 32px;
}
.layout > footer .footer-container > .sns > a > img {
  padding: 8px;
  width: 42px;
}
.layout > footer .footer-container > .link-tree {
  display: flex;
  justify-content: space-around;
  font-size: 0.75rem;
  margin-bottom: 16px;
}
.layout > footer .footer-container > .link-tree > .kronos {
  color: #CCCCCC;
}
.layout > footer .footer-container > .link-tree > .kronos:hover {
  color: #b19c76;
}
.layout > footer .footer-container > .link-tree > .hr {
  margin: 8px;
}
.layout > footer .footer-container > .link-tree > .supernova {
  color: #CCCCCC;
}
.layout > footer .footer-container > .link-tree > .supernova:hover {
  color: #990013;
}
.layout > footer .footer-container > .link-tree > .stableDAO {
  color: #CCCCCC;
}
.layout > footer .footer-container > .link-tree > .stableDAO:hover {
  color: #00445a;
}
.layout > footer .footer-container > .copyright {
  font-size: 0.75rem;
  margin-bottom: 32px;
}
.dashboard-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 64px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 32px;
  overflow: auto;
}
@media only screen and (max-width: 719px) {
  .dashboard-view {
    margin: 64px 8px;
  }
}
.dashboard-view > header {
  margin-bottom: 32px;
}
.dashboard-view > header > h1 {
  font-size: 2rem;
  font-weight: 700;
}
.dashboard-view > header > h2 {
  font-size: 0.725rem;
  padding-top: 8px;
  color: #e0d8c8;
  font-weight: 300;
}
.dashboard-view > img {
  border-radius: 4px;
  width: 100%;
  height: auto;
}
.dashboard-view > article {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
@media only screen and (max-width: 719px) {
  .dashboard-view > article {
    grid-template-columns: 100%;
  }
}
.dashboard-view > article .content-wrap {
  margin-top: 32px;
  padding: 32px 0;
}
.dashboard-view > article .content-wrap > header {
  font-size: 1rem;
  color: #e0d8c8;
  font-weight: 300;
}
.dashboard-view > article .content-wrap > p {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 8px;
}
.dashboard-view > article .content-wrap > .caption {
  font-size: 0.825rem;
  font-weight: 300;
  margin-top: 8px;
}
.mining-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 64px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 32px;
}
@media only screen and (max-width: 719px) {
  .mining-view {
    margin: 64px 8px;
  }
}
.mining-view > header {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  margin-bottom: 32px;
}
@media only screen and (max-width: 719px) {
  .mining-view > header {
    text-align: center;
    flex-direction: column;
  }
}
.mining-view > header > .title-container > h1 {
  font-size: 2rem;
  font-weight: 700;
}
.mining-view > header > .title-container > h2 {
  font-size: 0.725rem;
  padding-top: 8px;
  color: #e0d8c8;
  font-weight: 300;
}
.mining-view > header > .input-container {
  display: flex;
  justify-content: flex-end;
  max-height: 32px;
  margin: 8px 0px;
}
.mining-view > header > .input-container > input {
  padding: 8px;
  border-radius: 4px;
  width: 60%;
  height: 100%;
  border: 0.1px solid white;
  background-color: transparent;
  color: white;
}
.mining-view > header > .input-container > button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 12px 9px;
  margin-left: 4px;
  font-weight: 700;
  font-size: 0.725rem;
  border-radius: 4px;
  margin-right: 8px;
  background-color: white;
  color: black;
}
.mining-view > header > .input-container > button:hover {
  background-color: rgba(224, 216, 200, 0.9);
  color: white;
}
.mining-view > header > .input-container > button:active {
  background-color: #e0d8c8;
  color: white;
}
.mining-view > article > .warning-container {
  background-color: rgba(177, 156, 118, 0.7);
  border-radius: 8px;
  padding: 8px 16px;
  margin: 32px 0px;
}
.mining-view > article > .warning-container > p {
  font-weight: 300;
  margin: 20px 0px;
}
.mining-view > article > .tool-box {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 719px) {
  .mining-view > article > .tool-box {
    flex-direction: column;
  }
}
.mining-view > article > .tool-box > .title-container {
  text-align: left;
  margin-bottom: 16px;
}
.mining-view > article > .tool-box > .title-container > header {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 4px;
}
.mining-view > article > .tool-box > .title-container > p {
  font-size: 0.725rem;
  padding-top: 4px;
  color: #e0d8c8;
  font-weight: 300;
}
@media only screen and (max-width: 719px) {
  .mining-view > article > .tool-box > .button-container {
    display: flex;
  }
}
.mining-view > article > .tool-box > .button-container > .all-mining-button {
  cursor: pointer;
  padding: 8px 12px 9px;
  font-weight: 700;
  border-radius: 4px;
  margin-bottom: 32px;
  margin-right: 8px;
  background-color: white;
  color: black;
}
.mining-view > article > .tool-box > .button-container > .all-mining-button:hover {
  background-color: rgba(224, 216, 200, 0.9);
  color: white;
}
.mining-view > article > .tool-box > .button-container > .all-mining-button:active {
  background-color: #e0d8c8;
  color: white;
}
.mining-view > article > .nft-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  min-width: 0;
}
@media only screen and (max-width: 719px) {
  .mining-view > article > .nft-container {
    grid-template-columns: 100%;
  }
}
.buyback-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 64px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 32px;
}
@media only screen and (max-width: 719px) {
  .buyback-view {
    margin: 64px 8px;
  }
}
.buyback-view > header > h1 {
  font-size: 2rem;
  font-weight: 700;
}
.buyback-view > header > h2 {
  font-size: 0.725rem;
  padding-top: 8px;
  color: #e0d8c8;
  font-weight: 300;
}
.buyback-view > .warning-container {
  background-color: rgba(177, 156, 118, 0.7);
  border-radius: 8px;
  padding: 8px 16px;
  margin: 32px 0px;
}
.buyback-view > .warning-container > p {
  font-weight: 300;
  margin: 20px 0px;
}
.buyback-view > .nft-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  min-width: 0;
}
@media only screen and (max-width: 719px) {
  .buyback-view > .nft-container {
    grid-template-columns: 100%;
  }
}
.hourglass-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 64px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 32px;
}
@media only screen and (max-width: 719px) {
  .hourglass-view {
    margin: 64px 8px;
  }
}
.hourglass-view > header > h1 {
  font-size: 2rem;
  font-weight: 700;
}
.hourglass-view > header > h2 {
  font-size: 0.725rem;
  padding-top: 8px;
  color: #e0d8c8;
  font-weight: 300;
}
.hourglass-view > section > .content {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
@media only screen and (max-width: 719px) {
  .hourglass-view > section > .content {
    grid-template-columns: 100%;
  }
}
.hourglass-view > section > .content > article {
  margin-top: 64px;
}
.hourglass-view > section > .content > article > header {
  font-size: 1rem;
  color: #e0d8c8;
  font-weight: 300;
}
.hourglass-view > section > .content > article > p {
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: 8px;
}
.hourglass-view > section > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
  margin: 30px 0px;
}
.hourglass-view > section > .input-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 719px) {
  .hourglass-view > section > .input-container {
    grid-template-columns: 100%;
  }
}
.hourglass-view > section > .input-container > .input-wrap {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.hourglass-view > section > .input-container > .input-wrap > label {
  font-size: 0.825rem;
  font-weight: 300;
  color: #e0d8c8;
  margin-bottom: 8px;
}
.hourglass-view > section > .input-container > .input-wrap > input {
  padding: 8px;
  border-radius: 4px;
  width: 50%;
  border: 0.1px solid white;
  background-color: transparent;
  color: white;
  font-size: 1rem;
}
@media only screen and (max-width: 719px) {
  .hourglass-view > section > .input-container > .input-wrap > input {
    width: 100%;
  }
}
.hourglass-view > section > .input-container > .input-wrap > button {
  background-color: transparent;
  color: rgba(177, 156, 118, 0.8);
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  top: 24px;
  right: 25.5%;
}
@media only screen and (max-width: 719px) {
  .hourglass-view > section > .input-container > .input-wrap > button {
    right: 8px;
  }
}
.hourglass-view > section > .input-container > .input-wrap > button:hover {
  background-color: rgba(177, 156, 118, 0.9);
  color: white;
}
.hourglass-view > section > .input-container > .input-wrap > button:active {
  background-color: #b19c76;
  color: white;
}
.hourglass-view > section > .input-wrap {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hourglass-view > section > .input-wrap > .slider {
  margin-bottom: 16px;
  width: 70%;
  -webkit-appearance: none;
  appearance: none;
  height: 5px !important;
  border-radius: 4px;
  background-color: white;
  outline: none;
  margin-bottom: 14px;
}
.hourglass-view > section > .input-wrap > .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  border: 1px solid #f4f4f4;
}
.hourglass-view > section > .input-wrap > .slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e0d8c8;
  cursor: pointer;
  border: 1px solid #f4f4f4;
}
.hourglass-view > section > .input-wrap > .text-wrap {
  display: flex;
}
.hourglass-view > section > .input-wrap > .text-wrap > label {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  margin-right: 4px;
}
.hourglass-view > section > button {
  width: 50%;
  margin-top: 30px;
  cursor: pointer;
  padding: 8px 12px 9px;
  font-weight: 700;
  border-radius: 4px;
  margin-bottom: 32px;
  margin-left: 8px;
  color: white;
  background-color: rgba(177, 156, 118, 0.8);
}
.hourglass-view > section > button:hover {
  background-color: rgba(177, 156, 118, 0.9);
}
.hourglass-view > section > button:active {
  background-color: #b19c76;
}
.hourglass-view > section > .reward-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 30px;
}
.hourglass-view > section > .reward-container > .content-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 50%;
  margin-top: 8px;
}
@media only screen and (max-width: 719px) {
  .hourglass-view > section > .reward-container > .content-wrap {
    width: 100%;
  }
}
.hourglass-view > section > .reward-container > .content-wrap > .title {
  font-size: 1rem;
  color: #e0d8c8;
  font-weight: 300;
}
.hourglass-view > section > .reward-container > .content-wrap > p {
  font-weight: 700;
  margin-top: 8px;
}
.hourglass-view > .goods-container > .swiper {
  width: 50%;
}
@media only screen and (max-width: 719px) {
  .hourglass-view > .goods-container > .swiper {
    width: 100%;
  }
}
.hourglass-view > .goods-container > .swiper > .swiper-wrapper > .swiper-slide {
  display: flex;
  justify-content: center;
}
.hourglass-view > .goods-container > .swiper > .swiper-wrapper > .swiper-slide > img {
  height: 72px;
}
.hourglass-view > .goods-container > .swiper > .swiper-wrapper > .swiper-slide > .text-warp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 16px;
}
.hourglass-view > .goods-container > .swiper > .swiper-wrapper > .swiper-slide > .text-warp > header {
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 700;
}
.hourglass-view > .goods-container > .swiper > .swiper-wrapper > .swiper-slide > .text-warp > p {
  margin-top: 4px;
  color: #e0d8c8;
  font-size: 0.75rem;
  font-weight: 300;
}
.hourglass-view > .goods-container > .swiper > .swiper-button-next {
  color: white;
  background-image: url(/images/shared/icn/icn_arrow_forward.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.hourglass-view > .goods-container > .swiper > .swiper-button-next::after {
  display: none;
}
.hourglass-view > .goods-container > .swiper > .swiper-button-prev {
  color: white;
  background-image: url(/images/shared/icn/icn_arrow_back.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.hourglass-view > .goods-container > .swiper > .swiper-button-prev::after {
  display: none;
}
.check-holder {
  margin-top: 64px;
}
.check-holder > header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.check-holder > header > h1 {
  font-size: 2rem;
  font-weight: 700;
}
.check-holder > header > h2 {
  font-size: 0.725rem;
  padding-top: 8px;
  color: #e0d8c8;
  font-weight: 300;
}
.check-holder > article {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 16px;
}
.check-holder > article > img {
  max-width: 30%;
  animation: rotate_image 60s linear infinite;
  transform-origin: 50% 50%;
  margin: 2rem;
}
@media only screen and (max-width: 719px) {
  .check-holder > article > img {
    max-width: 50%;
  }
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
.check-holder > article > a {
  width: 50%;
  cursor: pointer;
  padding: 8px 12px 9px;
  font-weight: 700;
  border-radius: 4px;
  margin-bottom: 32px;
  margin-right: 8px;
  text-decoration: none;
  color: white;
  background-color: rgba(224, 216, 200, 0.8);
}
.check-holder > article > a:hover {
  background-color: rgba(224, 216, 200, 0.9);
  color: white;
}
.check-holder > article > a:active {
  background-color: #e0d8c8;
  color: white;
}

