.buyback-item {
    display       : flex;
    position      : relative;
    flex-direction: column;
    overflow      : hidden;
    margin-bottom : 16px;

    >img {
        border-radius: 4px;
    }

    >h3 {
        margin     : 8px;
        font-size  : 1.25rem;
        font-weight: 500;
    }

    >p {
        margin-bottom: 8px;
        font-size    : 0.825rem;
        font-weight  : 300;
        color        : #e0d8c8;
    }

    >button {
        cursor       : pointer;
        padding      : 8px 12px 9px;
        font-weight  : 700;
        border-radius: 4px;
    }
}